.container{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    
}
header{
    margin: 0%;
    padding: 0%;
    height: 150px;
    width: 100%;
    font-size: 4em;
    color: #fdcb46;
    background-color: #579c87;
    
}

h1{
    text-align: center;
    margin-top: -10px;
}
h2{
    overflow: hidden;
    transition: transform 1s ease-in-out 0s;
}
h2:hover{
    opacity: 0.8;
    transition-duration: 1s;
    transform: scale(1.1);
}
p{
    margin-top: 280px;
    text-decoration: none;    
 }
a{
     text-decoration: none;
 }

.carte{
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-evenly;
   display: flex;  
} 

.Menu1{
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 950px;
    margin-top: 40px;
    text-align: center;
    color: #58272e;
    font-size: 3em;
    background-color: #fbdcdb;
    box-shadow: 2px 2px 2px 2px  rgb(179, 176, 176);
}
    
.fas{
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #f15861, #f78f6a);
    color: transparent;
    -webkit-background-clip: text;
}
.Menu1 p{
    font-size: 1.6em;
    margin-bottom: 20px;
    margin-top: 220px;
    font-family: 'Devonshire', cursive;
}



.Menu2{
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 950px;
    margin-top: 40px;
    font-size: 3em;
    text-align: center;
    box-shadow: 2px 2px 2px 2px  rgb(179, 176, 176);
    background: linear-gradient(to left, rgb(244, 220, 248), rgb(239, 238, 240)); 
    font-family: 'Croissant One', cursive;
}
.Menu2 p{
    margin-top: 320px;
    margin-bottom: 20px;
    font-size: 1.3em;
    background-image: linear-gradient(to right, #e0881d, #a07e81, #a264cc);
    color: transparent;
    -webkit-background-clip: text;
}  
.Menu2 h2{
    color: #c77412;
}

.Menu3{
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 950px;
    margin-top: 40px;
    font-size: 3em;
    text-align: center;
    box-shadow: 2px 2px 2px 4px  rgb(179, 176, 176);
    font-family:  'Dancing Script', cursive;
}
.Menu3 p{
    font-size: 1.5em;
    background-image: linear-gradient(to right, #0230df , #1162ed , #0889fb);
    color: transparent; 
    -webkit-background-clip: text;
}
.Menu3 h2{
    color: #0887fb;
}
.Menu4{
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 950px;
    margin-top: 40px;
    font-size: 3em;
    text-align: center;
    box-shadow: 2px 2px 2px 4px  rgb(179, 176, 176);
    font-family: 'Kaushan Script', cursive;
}

.Menu4 p{
    font-size: 1.5em;
    background-image: linear-gradient( #38b634, #b1d8b0 );
    color: transparent;
    -webkit-background-clip: text;
}
.Menu4 h2{
    color: #38b634;
}
.section2{
    text-align: -webkit-center;
    text-align: -moz-center;
}
.pro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    height: 100px;
    margin-top: 40px;  
    font-size: 4.4em;
    color: #fdcb46;
    background-color: #579c87;
    border-radius: 30px 30px;     
}
.pro::after {
    display: inline-block;
    -webkit-animation: dotty steps(1,end) 1s infinite;
            animation: dotty steps(1,end) 1s infinite;
    content: '';
  }
  
  @-webkit-keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
  }
  
  @keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
  }

footer{
    flex-direction: row;
    width: 100%;
    margin-top: 40px;
    height: 120px;
    background-color: #579c87;
   
}
.foot{
      text-align: center;
      display: flex;
      justify-content: space-between;
}
.foot a{
    width: 230px;
    margin-top: 40px;
    flex-direction: row;
    font-size: 1.8em;
    background-color: #579c87;
    color: #fdcb46;
    border: none;
    display: flex;
    margin-left: 50px;
}
.foot a:hover{
    -webkit-animation: wiggle 0.5s infinite;
            animation: wiggle 0.5s infinite;
}


@-webkit-keyframes wiggle{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}


@keyframes wiggle{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}
@media screen and (max-width: 1440px){
    .Menu1, .Menu2, .Menu3, .Menu4{
        width: 550px;
        height: 650px; 
        font-size: 2.2em;   
    }
    .Menu1 p, .Menu3 p, .Menu4 p{
        margin-top: 150px;
    }
    .Menu2 p{
        margin-top: 210px;
    }
}    
@media screen and (max-width: 1024px){
    .Menu1, .Menu2, .Menu3, .Menu4{
        width: 450px;
        height: 550px; 
        font-size: 1.6em;   
    }
    .Menu1 p, .Menu3 p, .Menu4 p{
        margin-top: 150px;
    }
    .Menu2 p{
        margin-top: 210px;
    }
}    

   