.container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

} 
header{
    margin: 0%;
    padding: 0%;
    height: 150px;
    width: 100%;
    font-size: 4em;
    color: #fdcb46;
    background-color: #579c87;
   
}
h1{
   
    text-align: center;
    margin-top: -10px;
}
h2{
    text-align: center;
    font-family: 'Croissant One', cursive;
    font-size: 2.8em;
    background-image: linear-gradient(to right, #e0881d, #a56799, #6e4ccc);
    color: transparent;
    -webkit-background-clip: text;
    
}  

section{
    margin-top: 40px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    background: linear-gradient(to top left, #d3c5fa, #ebe5fc);
    font-size: 1.3em;
    margin-bottom: 160px;
}

h3 {
    
    /* centre verticalement les enfants entre eux */
    align-items: center;

    /* active flexbox */
    display: flex;

    /* garde le texte centré s’il passe sur plusieurs lignes ou si flexbox n’est pas supporté */
    text-align: center;
    height: 50px;
    
    
}

h3::before,
h3::after {
    /* la couleur est volontairement absente ; ainsi elle sera celle du texte */
    border-top:  solid;

    /* nécessaire pour afficher les pseudo-éléments */
    content: "";

    /* partage le reste de la largeur disponible */
    flex: 1;

    /* espace les traits du texte */
    margin: 0 .5em;
}

section a{
    color: #58272e;
    display: inline;
    text-decoration: none;
}
section a:hover{
    background-size: 100% 100%;
}


 /* entrée*/
 .entree a{
    color: #e0881d;
    background: linear-gradient(to top, #e0881d 0%, #e0881d 4px, transparent 5px) no-repeat;
    background-size: 0 100%;
    transition: background-size .3s;
 }
.entree{
    padding: 0%;
    width: 780px;
    color: #e0881d;
}
section .entreeP{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}  
section .prixE{
    
    display: flex;
    flex-direction: column;
    text-align: right;
    font-weight: bold;
    margin-right: 10px;
}
/*plat*/
.plat a{
    color: #a56799;
    background: linear-gradient(to top, #a56799 0%, #a56799 4px, transparent 5px) no-repeat;
    background-size: 0 100%;
    transition: background-size .3s;
}
.plat{
    width: 780px;
    color: #a56799;
}
section .platP{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    width: 60%;
}  
section .prixP{
    display: flex;
    flex-direction: column;
    text-align: right;
    font-weight: bold;
    margin-right: 10px;
    
}
/*dessert*/
.dessert a{
    color: #6e4ccc;
    background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 4px, transparent 5px) no-repeat;
    background-size: 0 100%;
    transition: background-size .3s;
}
section .dessertP{
    display: flex;
    flex-direction: column; 
    margin-left: 10px;
}  
.dessert{
    width: 780px;
    color: #6e4ccc;
}
footer{
    flex-direction: row;
    width: 100%;
    margin-top: 40px;
    height: 120px;
    background-color: #579c87;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    position: fixed;
}
.foot{
      text-align: center;
      display: flex;
      justify-content: space-between;
}
.foot a{
    width: 230px;
    margin-top: 40px;
    flex-direction: row;
    font-size: 1.8em;
    background-color: #579c87;
    color: #fdcb46;
    border: none;
    display: flex;
    margin-left: 50px;
    text-decoration: none;
}
.foot a:hover{
    animation: wiggle 0.5s infinite;
}



@keyframes wiggle{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}

@media screen and (max-width: 1023px){
    section{
        width: 100%;
        flex-direction: initial;
        margin-bottom: 0%;
        font-size: 1.6em;
    }
    section .prixP{
        margin-top: 60px;
    }
    footer{
        position: initial;
    }
}