.container{
    display: block;
  }
  
  header{
    display: flex;
    justify-content: center;
    background-color: #579c87;
    text-align: center;
    font-size: 3em;
    
  }
  h1{
    color: #fdcb46;
    text-align: center;
    letter-spacing: -0.2rem;
    line-height: 3rem;
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    width: 100%;
    margin: 2rem 0 2rem;
  }
  
  /*mise en page*/
  section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
    margin-top: 40px;
    align-content: center;
    padding: 5rem 2rem 8rem 2rem;
    color: #3c1218;
    box-shadow: 0px 0px 6px 6px #e7e2e2;
    -webkit-box-shadow: 0px 0px 6px 6px #e7e2e2;
    -moz-box-shadow: 0px 0px 6px 6px #e7e2e2;
    background: linear-gradient(to top left, #d3c5fa, #ebe5fc);
    max-width: 50%;
    font-family: "Kalam", cursive;
  }
  h2{
    grid-column: 1 / span3;
    grid-row: 1;
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Dancing Script", cursive;
    font-size: 4rem;
    margin: 0;
    font-weight: lighter;
    background-image: linear-gradient(to right, #e0881d, #a56799, #6e4ccc);
    color: transparent;
    -webkit-background-clip: text;
  }
  .entree{
    grid-column: 1 / span 3;
    grid-row: 2; 
  }
  .plat1{
    grid-column: 1 / span 3;
    grid-row: 3; 
  }
  .dessert{
    grid-column: 1 /span 3;
    grid-row: 4;
  }
  li{
      list-style-type: none;
      display: flex;
      justify-content: space-between;    
  }
  
  /*mise en place des differents traits à coté des h3*/
  h3 {
    
    /* centre verticalement les enfants entre eux */
    align-items: center;
  
    /* active flexbox */
    display: flex;
  
    /* garde le texte centré s’il passe sur plusieurs lignes ou si flexbox n’est pas supporté */
    text-align: center;
    height: 50px; 
  }
  
  h3::before,
  h3::after {
    /* la couleur est volontairement absente ; ainsi elle sera celle du texte */
    border-top:  solid;
  
    /* nécessaire pour afficher les pseudo-éléments */
    content: "";
  
    /* partage le reste de la largeur disponible */
    flex: 1;
  
    /* espace les traits du texte */
    margin: 0 .5em;
  }
  
  /* mise en place des soulignements*/
  section a{
    color: black;
    display: inline;
    text-decoration: none;
  }
  section a:hover{
    background-size: 100% 100%;
  }
  .entree h3::before,
  .entree h3::after{
      color: #e0881d;
  }
  .entree a{   
    color: #e0881d;
    background: linear-gradient(to top, #e0881d 0%, #e0881d 4px, transparent 5px) no-repeat;
    background-size: 0 100%;
    transition: background-size .3s;
  }
  .entree{
    color: #e0881d;
  }
  .plat h3::before,
  .plat h3::after{
    color: #a56799;
  }
  .plat1 a{   
    color: #a56799;
    background: linear-gradient(to top, #a56799 0%, #a56799 4px, transparent 5px) no-repeat;
    background-size: 0 100%;
    transition: background-size .3s;
  }
  .plat1{
    color: #a56799;
  }
  .dessert h3::before,
  .dessert h3::after{
    color: #6e4ccc;
  }
  .dessert a{   
    color: #6e4ccc;
    background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 4px, transparent 5px) no-repeat;
    background-size: 0 100%;
    transition: background-size .3s;
  }
  .dessert{
    color: #6e4ccc;
  }
  /* pied de page*/
  
  footer{
    background-color: #579c87;
    line-height: 3rem;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    justify-content: space-between;
  }
  .foot{
    display: contents;
  }
  .gauche {
    padding-left: 1rem;
    text-decoration: none;
    color: #fdcb46;
  }
  
  .droite{
    padding-right: 1rem;
    text-decoration: none;
    color: #fdcb46;
  }
  .foot a{
    width: 230px;
    margin-top: 10px;
    flex-direction: row;
    font-size: 1.8em;
    background-color: #579c87;
    color: #fdcb46;
    border: none;
    display: flex;
    margin-left: 50px;
    text-decoration: none;
  }
  .foot a:hover{
    -webkit-animation: wiggle 0.5s infinite;
            animation: wiggle 0.5s infinite;
  }
  
  @-webkit-keyframes wiggle{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
  }
  
  @keyframes wiggle{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
  }
  
  /*media querries*/
  
  @media screen and (max-width: 1272px){
    section{
      max-width: 80%;
    }
  }
  @media screen and (max-width: 1180px){
    section{
      max-width: 100%; 
    }
      li {
       display: flex;
       flex-direction: column;
       text-align: center;
       grid-column: 1 / span 3;
       font-size: larger;
     }
     .prix{
       font-weight: bold;
       grid-column: 2;
     }
     h3{
       font-size: 1.6rem;
     }
  }
  /*tablette*/
  @media screen and (max-width: 769px){
    h2{
      font-size: 3em;
    }
    ul{
      padding: inherit;
    }
    h2{
      padding-bottom: 40px;
    }
    .foot a{
      margin: 0;
      justify-content: center;
    }
  }
  /*telephone*/
  @media screen and (max-width: 426px){
    section{
      max-width: initial;
    }
    header {  
      font-size: 2em;
    }
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 2rem;
    }
    .entrée,
    .plat,
    .dessert {
      
      text-align: center;
    }
  
    .entréeP,
    .platsP,
    .dessertP {
      text-align: center;
    }
  
    li {
      display: flex;
      flex-direction: column;
    }
    ul {
      font-size: 1.3rem;
    }
    .foot a{
      justify-content: center;
      margin: 0;
      font-size: 1em;
    }
  }
  